.git
.gitignore
.env
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.venv
venv/
env/
*.log
*.sqlite3
*.db
db.sqlite3
media/
staticfiles/
coverage*/
coverage_report*/
.coverage
.vscode/
.idea/
.DS_Store
*.pid
*.pid.lock
